<h2>Organization details</h2>
<div class="container" *ngIf="organization">
    <div class="row">
        <div class="col-auto">
            <label class="fw-bold">Name:</label>
        </div>
        <div class="col">
            <label>{{organization.name}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label class="fw-bold">Contact name:</label>
        </div>
        <div class="col">
            <label>{{organization.contactName}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label class="fw-bold">Contact email:</label>
        </div>
        <div class="col">
            <label>{{organization.contactEmail}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label class="fw-bold">Contact phone:</label>
        </div>
        <div class="col">
            <label>{{organization.contactPhone}}</label>
        </div>
    </div>
    <div class="mt-2 d-flex">
        <a routerLink="/organizations/edit"
        [queryParams]="{uri:organization._links.update.href}">Edit</a>
        <span class="ms-2 me-2">|</span>
        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteOrganizationModal">Delete</a>
        <span class="ms-2 me-2">|</span>
        <a routerLink="/organizations">List</a>
    </div>
</div>