<h1>Organizations</h1>

<a routerLink="/organizations/add">Add an organization</a>

<ng-container *ngIf="organizations?.length; else emptyOrganizationTemplate">
    <p class="mt-2 fw-bold">Below is the list of available organizations:</p>

    <ul *ngFor="let organization of organizations">
        <li>
            <a routerLink="/organizations/details"
                [queryParams]="{uri:organization._links.self.href}">{{organization.name}}</a>
        </li>
    </ul>
</ng-container>

<ng-template #emptyOrganizationTemplate>
    <p>You haven't added any organization yet.</p>
</ng-template>